#vault {
  visibility: visible;
  position: fixed;

  height: 40px;
  width: 100%;
  border: none;
  border-image: initial;

  bottom: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  opacity: 1;
  z-index: 10000100;
  background-color: #00B800;

}

#vaultbutton {
  width: 200px;

}

#new-comment-form {
  left: 0;
  float: left;
  padding: 0 10px 0 10px;
  width: 40%;
}

#new-comment {
  width: 200px;
  float: left;
}

#post-button {
  float: left;
}

#ratings {
  widthe: 20%;
}

.rating {
  height: 30px;
  width: 30px;
  float: left;
}

#post-alternatives {
  float: left;
}

#existing-comment {
  width: 40%;
  float: right;
}

#comment-poster {
}

#comment-text {
  word-wrap: break-word;
  display: inline;
}

#comment-votes {
  float: right;
}

.comment-vote {
  height: 15px;
  width: 15px;

}

#comment-vote-top {
}

#comment-vote-bottom {
  position: absolute;
  top: 20px;
}
